<% include ../partials/header %>
    
    <div class="container">
        <form action="/characters" method="POST">
            <div>
                <input type="text" placeholder="name" name="character[name]">
            </div>
            <div>
                <input type="text" placeholder="class" name="character[gameClass]">
            </div>
            <div>
                <input type="text" placeholder="skill" name="character[skill]">
            </div>
            <div>
                <input type="text" placeholder="image" name="character[image]">
            </div>
            <div>
                <input type="text" placeholder="likes" name="character[likes]">
            </div>
            <div>
                <input type="text" placeholder="dislikes" name="character[dislikes]">
            </div>
            <button type="Submit">Submit</button>
        </form>
    </div>        

<% include ../partials/footer %>