<% include ../partials/header %>

<div class="container">
    <div class="newform">
        <form action="/sessions" method="POST">
            
            <div class="form-group">
                <label>Session Title</label>
                <input class="form-control" type="text" name="session[title]" placeholder="title">
            </div>
            
            <div class="form-group">
                <label>Session Date</label>
                <input class="form-control" type="text" name="session[date]" placeholder="mm/dd/yy">
            </div>
            
            <div class="form-group">
                <label>Dungeon Master</label>
                <input class="form-control" type="text" name="session[dm]" placeholder="DM">
            </div>
            
            <div class="form-group">
                <label>Image URL</label>
                <input class="form-control" type="text" name="session[image]" placeholder="image">
            </div>
            
            <div class="form-group">
                <label>Image Caption</label>
                <input class="form-control" type="text" name="session[caption]" placeholder="caption">
            </div>
            
            <div class="form-group form-check form-check-inline">
                <label class="form-check-label">Party Members<br>
                <% characters.forEach(function(character){ %>
                    <input class="form-check-input inlineCheck" type="checkbox" name="session[characters]" value="<%= character._id %>" id="<%= character._id %>">
                    <label for="<%= character._id %>"><%= character.name %></label>
                <% }); %>
                </label>
            </div>
                 
            <div class="form-group">
                <label>Session Content</label>
                <textarea id="content" class="form-control" name="session[content]"></textarea>
            </div>
            <button class="btn btn-info" href="/sessions">Go Back</button>
            <input class="btn btn-primary pull-right" type="submit">
        </form>
    </div>
</div>

<% include ../partials/footer %>