<!DOCTYPE html>
    <html>
        
        <head>
            <title>D&D Chronicles</title>
            
            <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=ng304450n3o88dwhblix6ymtl0ov3xuz3nw0gr3l9yhk7h8b"></script>
            <script> tinymce.init({selector: '#content'}); </script>
            
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="/stylesheets/main.css">
        </head>
        
        <!-- Set up background images to be randomly selected upon each page load -->
        <% var bgArray = ["bg1.jpg","bg2.jpg", "bg3.jpg", "bg4.jpg", "bg5.jpg", "bg6.jpg"]; %>
        <% var imageIndex = Math.floor(Math.random() * 6) %>
        <% var bgImage = bgArray[imageIndex]; %>
        
        <body style="background-image: url(<%= "/images/" + bgImage %>)">
            
            <h1>D&D Chronicles</h1>
                
                <!-- NAVBAR -->
                <nav class="flex-nav">
                    <ul>
                        <!-- Logo hidden until scrolldown -->
                        <li class="logo">
                            <span>Chronicles</span>
                        </li>
                        <li>
                            <a class="navLinks" href="/sessions">Sessions</a>
                        </li>
                        <li>
                            <a class="navLinks" href="/sessions/new">Add Session</a>
                        </li>
                        <li>
                            <a class="navLinks" href="/characters">Characters</a>
                        </li>
                        <li>
                            <a class="navLinks" href="/characters/new">Add Character</a>
                        </li>
                    </ul>
                </nav>    
