.navbar-brand {
    padding: 0 15px;
}

.navbar-fixed-left {
    width: 15%;
}

body {
    font-family: 'Alegreya', serif;
    font-size: 2em;
    background-image: url("/images/mountains.jpg");
    background-size: cover;
}

.newform {
    width: 40%;
    min-width: 500px;
    margin: auto;
}

.characterform {
    width: 20%;
    display: inline-block;
}

.card {
    text-align: center;
}

.card img {
    width: 280px;
    height: 280px;
    object-fit: contain;
}

.navbar {
}

.navbar span {
    font-size: 125%;
    font-weight: bold;
}

.backdrop {
    width: 98%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.5em;
}

.session {
    padding: 0.5em;
}